<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <a class="navbar-brand" href="#">CS Cases</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ng-container *ngIf="loading; else userData">Loading...</ng-container>
    <ng-template #userData>
      <ul *ngIf="currentUserData; else login" class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link">User: <span>{{ currentUserData.name}}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> Balance: <span>{{currentUserData.wallets | walletSum}} {{currentUserData.currency}}</span></a>
        </li>
      </ul>
      <ng-template #login>
        <a class="nav-link" href="https://steamcommunity.com/openid/login"><span>Please Login</span></a>
      </ng-template>
    </ng-template>
  </div>
</nav>
<router-outlet></router-outlet>


